<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to My Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime laborum natus excepturi mollitia repellat! Culpa illum sapiente quibusdam ut non minima facilis dolor quis dolorum ea, veniam odit ullam doloremque.</p>
</body>
</html>